*{
    margin: 0;
    padding: 0;
    font-family: Times, 'Times New Roman' sans-serif;
}
.banner {
    background-image: url(media/image/Hero-bg.png);
    height: 580px;
    max-width: auto;
    text-align: center;

}
.codder-image{
    margin-top: 30px;
}
.banner-title{
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;
}
.banner-description{
    font-size: 18px;
    color: #333;
    margin-top: 50px;
}
.btn-primary{
    background-color: darkslategrey;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    margin-top: 30px;
}
/* main section */

.subject{
    padding: 80px;
    text-align: center;    
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.section-description{
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* section wise  */
.section-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 100px;
    gap: 50px;
}
.learn-more{
    border: 1px solid black;
    padding: 8px 12px;
}
.section-container a{    
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    border-radius: 3px;
}
.section-container a:hover{
    background-color: #333;
    color: #fff;
}